{% extends 'blog/base.html' %}

{% block title %}Home - Django Blog{% endblock %}

{% block content %}
<div class="posts-container">
    <h2>Latest Blog Posts</h2>
    
    {% if posts %}
        {% for post in posts %}
            <article class="post">
                <div class="post-header">
                    <h3><a href="#">{{ post.title }}</a></h3>
                    <div class="post-meta">
                        <span class="author">By {{ post.author.username }}</span>
                        <span class="date">{{ post.published_date|date:"F d, Y" }}</span>
                    </div>
                </div>
                <div class="post-content">
                    <p>{{ post.content|truncatewords:50 }}</p>
                    <a href="#" class="read-more">Read More &rarr;</a>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p class="no-posts">No blog posts yet. Check back soon!</p>
    {% endif %}
</div>
{% endblock %}
